.heading {
  height: 300px;
  background: radial-gradient(rgba(17, 25, 47, 0.59), rgba(82, 122, 116, 0.8004));
  background-image: url("../../Assets/header_bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.heading--title {
  color: white;
  font-size: 3rem;
  line-height: 300px; }
